{% extends "codespeed/base_site.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">
<h3>About this site</h3>
<p>This site records Pilosa benchmarks.</p>
<h3>About the benchmarks</h3>
<p>The code can be found <a href="https://github.com/pilosa/tools/tree/master/bench">here</a>.</p>
<h3>About Pilosa</h3>
<p><a href="https://pilosa.com">Pilosa</a> is a distributed bitmap index!</p>
<h3>About Codespeed</h3>
Codespeed is a web application to monitor and analyze the performance of your code.
<p>Code: <a href="http://github.com/pilosa/codespeed">github.com/pilosa/codespeed</a> (<a href="http://github.com/tobami/codespeed">parent</a>)</p>
<p>Wiki: <a href="http://wiki.github.com/tobami/codespeed/">wiki.github.com/tobami/codespeed/</a></p>
<h3>Contact</h3>
<p>Come talk to us on one of our <a href="https://www.pilosa.com/community/#support">support</a> channels!</p>
<p>Please file code issues on our <a href="http://github.com/pilosa/codespeed">codespeed</a> fork.</p>
</div>
{% endblock %}
